<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>No Fixed Plans</h1>
            <hr>
            <p>We're building a Software Factory platform for e-commerce vertical Saas.</p>
            <p>Through a combination of new product development & stragetic acquisitions, we are building a portfolio that will
                allow us to quickly build, deploy, and scale e-commerce vertical SaaS products through our innovation Software Product Line 
                approach to development.
            </p>
            <p>We don't make your e-commerce platform, we make your e-commerce platform better.</p>
            <a href="mailto:griffin@nofixedplans.xyz" class="btn btn-primary btn-xl page-scroll">Contact</a>
        </div>
    </div>
</header>
